.box {
    --mask:
    radial-gradient(79.38px at 50% calc(100% - 112.10px),#000 99%,#0000 101%) calc(50% - 118px) 0/236px 100%,
    radial-gradient(79.38px at 50% calc(100% + 53.10px),#0000 99%,#000 101%) 50% calc(0px - 61px)/236px 100% repeat-x;
    -webkit-mask: var(--mask);
            mask: var(--mask);
            width: 100%;
    position: absolute;
    z-index: 9999;
    height: 100%;
    background: #5657FE;
  }

  .background-overlay.overlay-login.home {

    box-shadow: none;
  }


.btn-dapp { 
  padding: 20px!important;;
  background: #5657FE;
  color: #fff;
  font-size: 18px!important;
  min-width: 200px;;
  font-weight: 600;
  border-radius: 100px;

}

  .home-construction-text {
    margin-top: 100px;
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    font-size: 16px;
    font-weight: 400;
    bottom: 50px;
    color: #fff;
    font-family: "Roboto", sans-serif!important;
    background: #5657FE;
    padding: 20px;


    border-radius: 20px;
}


.home-overlay {
  width: 100%;
  height: 100%;
  background: #5657FE;
  width: 100%;
  left: 0;
  height: 50px;
  position: fixed;
  bottom: 0px;
  position: fixed;
  transition: all .3s ease-out;

}

.complete {
  height: 100%!important;
  top: 0px!important;
  bottom: unset!important;
}

.home-block-1 h1:first-child {
  color: #5657FE!important;
 }
  .home-block-1 h1:last-child {
      color: #000!important;
 }

.home-construction-text h3 {
    font-size: 26px;
    font-weight: 700;
    margin: 0px;
    color: #fff;
    padding: 0px;
}
.home-construction-text div {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0px;
}

  
.btn-beta {
  background: white;
  color: #000;
}
  @media only screen and (max-width: 1000px) {

    .home-construction-text div {
      display: block;
      
    }

    h1 {
      text-align: center;

    }
    .home-block-1 h1:last-child {
      width: 100%;
      width: 100%!important;;
      font-size: 30px;
      text-align: center;
      width: 100%;

     }
    .home-block-1 h1 {
      font-size: 30px;
      margin: 10px 0px ;
      text-align: center;
 }
    .home-construction-text div button {
      border-radius: 10px;
      padding: 15px;
      width: 100%!important;
    margin: 5px 0px;
    }

  .home-construction-text {
    width: 100%;
    right: 10px;
    left:10px;
    margin-top: 100px;
    position: inherit;
  }

.home-overlay {
  height: 45%;
  bottom: 0px;
  display: none;
  z-index: -1;
}
  }