#tokens {
    min-height: unset;
    height: 60px;;
    border-radius: 10px;
}

.css-1s2u09g-control {
    min-height: unset;
    height: 60px;
    border-radius: 10px!important;
    background: whitesmoke!important;
    border: none!important;
}

.token-label {
    font-weight: 700;
    font-family: "Poppins", sans-serif;
color: #000;
font-size: 16px;
margin-bottom: 3px;
}
.css-14el2xx-placeholder{ 
    color: #000!important;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
font-size: 16px;
    content: 'test'!important;
}

.css-b62m3t-container:hover {
    background: whitesmoke!important;
}


#react-select-3-listbox {
    border: none;
    z-index: 999;
}

#react-select-3-input {
    font-size: 18px!important;
}

.token-list-item {
    padding: 5px 5px;
    display: flex;
    font-size: 18px!important;
    font-family: 'Poppins', sans-serif;
font-weight: 600;
    align-items: center;
    gaP: 10px;
}

.token-list-header {
    font-weight: 700;
    font-family: "Inter", sans-serif;
    color: #000;
}

.css-1pahdxg-control {
    min-height: unset;
    height:60px;;
    border-radius: 10px!important;
    background: whitesmoke!important;

    border: none!important;
}

.css-1pahdxg-control:active, .css-1pahdxg-control:focus,.css-1pahdxg-control:hover {
    border: none!important;
    outline: none!important;
    border-radius: 10px!important;
    background: white!important;

    box-shadow: none!important;;
}


@media only screen and (max-width: 1000px) {
  
}
